    <section class="chat-box">

        <h3 class="title">Welcome to chat-box</h3>

        <div class="msg-container">
            <div id="div-msgs"></div>
            <textarea id="chat-box" class="chat-input" name="chatbox" type="text" value="" placeholder="Escriba aquí su mensaje"></textarea>
        </div>

    </section>


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/index.js"></script>