<br><br>
<div class="box">
    <div>
        <h4>{{ error }}</h4>
    </div>
    <div>
    <img class="wrong" src="https://cdn-fbhod.nitrocdn.com/otkVNxVWgeizuBvHfiEVqXaEMouxUKYS/assets/images/optimized/rev-eeeaad6/www.greenseo.agency/wp-content/uploads/elementor/thumbs/error-404-pb5i1yoiih9r83p89xbq1o5xh0d9iqbum2fbfiijk8.jpg" alt="wrong">
    </div>
</div> 