<section class="home">
    <h1 class="welcome">Welcome to SebAR Futsal</h1>
    <h3 class="hello">Hello, <span>{{user.firstName}}</span> !</h3>
    <a href="cart/{{user.cartId}}">🛒</a>
    <h3 class="hello"><a href="products">Products</a></h3>

    <p class="greeting">Thank you for registering on our website. We have everything you need for your sports practice.</p>
    <p class="greeting">For inquiries, complaints, or orders, do not hesitate to contact us.</p>
    <p class="greeting">Enjoy our website!</p>
    <p class="greeting">"We breathe Futsal."</p>
    <a class="logout" href='/api/sessions/logout'>Logout</a>
</section>