<section class="vh-100"><br>
  <div class="container"> 
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5" >
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5">
        
        <form method="post" action="/session/login" >
          {{#if message}}
               <br><h5>{{message}}</h5><br>
          {{else}}
              <div class="sign-title">
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                <button type="button" class="btn btn-link btn-floating mx-1" style=" width: 40px; height: 40px;">
                    <a  href="/auth/github"><i class="fab fa-github"></i></a> 
                  </button>
              </div>
              <br>
              <div class="d-flex flex-row">
                <p class="text-center fw-bold mx-3 mb-0">Or</p>
              </div><br>
          {{/if}}
          
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" name="email" required/>
            
          </div>

          <div class="form-outline mb-3">
            <input type="password" id="password" class="form-control form-control-lg"
              placeholder="Enter password" name="password" required/>
          </div>
          <br> 
          <div class="d-flex justify-content-between align-items-center">
            <a href="/api/email/forgot-password" class="forgot">Forgot password?</a>
          </div>
          <div class="text-center text-lg-start mt-4 pt-2">
            <a href="/session/profile"> 
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            </a>

            <h6 class=" fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/session/register"
                class="link-danger">Register</a></h6>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>