<br><br><br>
<div class="container">
    <section class="py-5">
      <h2>
        Gracias
      </h2>
      <p class="lead">Tu producto será enviado a partir de mañana</p>
      <br>
      <a href="/" class="btn btn-outline-dark btn-sm">Volver a Inicio</a> 
    </section> 
</div>
