<br><br><br>
<div class="container">
    <section class="py-5">
      <h2>
        Thank You
      </h2>
      <p class="lead">Your game should be shipped to you within 1 business day</p>
      <br>
      <a href="/" class="btn btn-outline-dark btn-sm">Go Back Home</a> 
    </section> 
</div>
