html {
  font-family: 'Raleway', sans-serif;
  background-size: 100%;
  background-color: rgb(16, 15, 126);
  box-shadow: 0 0 10% 10% rgb(4, 5, 114);
  color: #dff2b0;
}
#navbarSupportedContent{
  align-items: center;
  justify-content: center;
}
body{
  position: relative;
  min-height: 100vh;
  background-color: rgb(193, 211, 152);
  background-image: url('https://img.freepik.com/vector-gratis/fondo-campo-balonmano-estilo-realista_23-2147869562.jpg?w=740&t=st=1699475311~exp=1699475911~hmac=3ca1b3ff34e8caa80a805024ec85585c2261e621964923eeeeceaf5aeb86405a');
  font-family: 'Raleway', sans-serif;
  color:rgb(225, 225, 176);
}
.navbar{
  height: 60px;
  padding-bottom: 15px;
  font-family: 'Raleway', sans-serif;
  color:rgb(225, 225, 176); 
  background-color: rgb(16, 15, 126);  
}
.navbar a {
  color:rgb(225, 225, 176);  
}
p a h1 h2 h3 h4 h5 h6{
  font-family: 'Raleway', sans-serif;
}

footer{
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color: rgb(16, 15, 126);
 
}
.link{
  text-decoration: none;
  border: none;
  margin-left: 20px;
}
.link:hover {
  border-bottom: solid  rgb(207, 35, 35);
}
.trash-icon{ 
  width: 20px;
  height: 20px;
}
.btn{
  background-color: rgb(193, 211, 152);
  color: white;
}
.btn:hover{
  color: rgb(193, 211, 152);
  border: solid ;
  border-color:rgb(193, 211, 152) ;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: blur(30px);
}